*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 73px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    border-bottom: 1px solid #d1d7dc;
}
.container{
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}
.site-identity{
    display:flex;
}
.site-identity .site-title{
    padding: 22px 0px;
    display: inline-block;
}
.site-identity-nav{
    display: flex;
    justify-content: space-between;
    margin-left: 64px;
    width: 100%;
}
.site-identity-nav ul{
    display: flex;
    list-style: none;
}
.site-identity-nav ul .dropdown,.country{
    position: relative;
    height: 74px;
    display: flex;
    align-items: center;
}
.site-identity-nav ul .dropdown a{
    padding: 8px;
    margin: 0 8px;
    font-size: 16px;
    line-height: 20px;
    color: #1c1d1f;
    text-decoration: none;
}
.site-identity-nav ul .down a:hover{
    color: #5022c3;
}
.site-identity-nav ul input{
    display: none;
}
.site-identity-nav ul input:checked ~ .other-countries{
    display: block;
    z-index: 1000;
    background-color: white;
    border: 1px solid #d1d7dc;
    border-top: 0px;
}
.site-identity-nav ul .country{
    display: flex;
    flex-direction: column;
}
.language-selector label{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.language-selector label div{
    padding: 6px 25px 6px 10px;
    border: 1px solid #cdcdcd;
    position: relative;
}
.language-selector label div:hover{
    background-color: #eeeeee;
}
.language-selector label div::after{
    content: "";
    vertical-align: middle;
    display: inline-block;
    border: .35em solid transparent;
    border-top: .5em solid;
    position: absolute;
    right: 5px;
    top: calc(50% - .175em);
} 
.language-selector .language-selector-dropdown{
    display: none;
}
.language-selector-dropdown div{
    height: 33px;
}
.language-selector-dropdown div:hover{
    background-color: #eeeeee;
}
.language-selector .language-selector-dropdown a {
    padding: 10px 17px 6px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
#languages:checked ~ .language-selector-dropdown{
    display: block;
    border: 1px solid #cdcdcd;
    background-color: #fff;
}
.site-identity-nav ul .login a{
    padding: 12px;
    font-weight: bold;
}
.site-identity-nav ul .get-started a:hover{
    background-color: #5022c3;
}
.site-identity-nav ul .get-started a{
    padding: 12px;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin: 0px 0px 0px 8px;
}
.site-identity-nav ul .dropdown > ul {
    position: absolute;
    top: 74px;
    padding: 20px;
    min-width: 260px;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgba(0,0,0,0.08), 0 4px 12px rgba(0,0,0,0.08);
    color: #1c1d1f;
    display: none;
    /* display: flex; */
}
.dropdown a:hover ~ .first-menu{
    display: flex;
}
.dropdown .first-menu > li{
    width: max-content;
    padding-right: 64px;
}
.dropdown .first-menu > li:last-child{
    width: max-content;
    padding-right: 0px;
}
.dropdown .first-menu > li h2{
    display: inline-block;
    font-size: 14px;
    color: #6a6f73;
    line-height: 16px;
    margin-bottom: 16px;
}
.menu li .Sub-menu{
    display: flex;
    flex-direction: column;
}
.menu .Sub-menu li a{
    display: inline-block;
    position: relative;
    padding: 5px 0;
    font-size: 14px;
    line-height: 24px;
    color: #1c1d1f;
    cursor: pointer;
    text-decoration: none;
}
.menu .Sub-menu li a:hover{
    color: #5022c3;
}
.site-identity-nav ul li .Menu{
    padding: 14px 0px;
    display: none;
    flex-direction: column;
}
.dropdown a:hover ~ ul{
    display: block;
}
.Menu > li{
    width: max-content;
}
.Menu > li a{
    display: inline-block;
    width: 100%;
    padding: 5px 20px;
    position: relative;
}
.Menu  li  .sub-menu{
    display: none;
    position: absolute;
    left: 261px;
    top: 0px;
    padding: 14px 0px;
    min-height: 133px;
    min-width: 300px;
    z-index: 1000;
    background-color: white;
    color: #1c1d1f;
    box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgba(0,0,0,0.08), 0 4px 12px rgba(0,0,0,0.08);
}
.nested:hover ~ .sub-menu{
    display: inline-block;
}
.Menu li a{
    display: inline-block;
    position: relative;
    padding: 5px 20px;
    font-size: 16px;
    line-height: 24px;
    color: #1c1d1f;
    width: max-content;
    text-decoration: none;
}
.Menu li a:hover{
    color: #5022c3;
}
.sub-menu li .sb-menu{
    display: inline-block;
}
.sub-menu li .Courses{
    font-size: 16px;
    padding-left: 20px;
    margin: 20px 0 15px;
}
.wrapper {
    display: flex;
    margin: 16px auto; 
}
.about-udemy-section {
    display: flex;
    margin-right: 65px; 
} 
.about-udemy-section-inner{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0px 50px 0px 0px; 
}
.about-udemy-section-inner h1{
    font-size: 40px;
    margin: 0 0 24px;
    line-height: 52px;
}
.about-udemy-section-inner .tell{
    font-size: 19px;
    margin: 0px 0px 22.4px;
    max-width: 420px;
    line-height: 23px;
    color: #6a6f73;
}
.about-udemy-section-inner h2{
    margin: 44px 0px 16px;
    line-height: 24px;
    font-size: 19px;
}
.udemy-opportunity{
    margin-bottom: 10px;
}
.udemy-opportunity .udemy-opportunity-inner{
    display: flex;
    margin: 0px 0px 18px;
    max-width: 400px;
}
.udemy-opportunity-inner .checked{
    margin-right: 10px;
    padding: 4px 0px;
}
.udemy-opportunity-inner svg{
    color: #199fa3;
}
.udemy-opportunity-inner p{
    line-height: 24px;
}
.Trusted h2{
    font-size: 19px;
    margin: 40px 0px 32px;
}
.brands{
    margin-top: 24px;
}
.brands ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.brands ul li{
    display: flex;
    margin-right: 30px;
    margin-bottom: 1rem;
}
.form-section{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.form-row{
    position: relative;
    display: flex;
    flex: 1;
}
.form-row input{
    display: flex;
    width: 100%;
    height: 56px;
    border: 1px solid black;
    padding: 10px 0px 5px 15px;
    font-size: 16px;
    color: #000000;
    margin-bottom: 16px;
    outline: none;
}
.form-row label{
    display: flex;
    align-items: center;
    position: absolute;
    width: 90%;
    top: 15px;
    left: 15px;
    padding: 5px 0px;
    font-size: 14px;
    transition: .1s;
    font-weight: 700;
    font-size: 14px;
    color: #333333;
}
.form-row input:focus ~ label,
.form-row input:valid ~ label{
    top: -5px;
    left: 15px;
    font-size: 12px;
}
.select{
    display: flex;
    flex-direction: column;
    padding: 5px 15px 0 15px;
    height: 56px;
    margin-bottom: 46px;
    border: 1px solid black;
}
.select label{
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    color: #888888;
}
.select select{
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 700;
    padding-top: 5px;
}
.select select option{
    Margin-left: 10px;
}
.Form-row{
    display: flex;
    margin-bottom: 16px;
}
.Form-row .Form-row-inner{
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid black;
    padding: 5px 15px 0 15px;
    height: 56px;
}
.Form-row label{
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    color: #888888;
}
.job-title{
    min-width: 288px;
    margin-right: 18px;
}
.Form-row-inner select{
    border: 0;
    outline: 0;
    font-weight: 700;
    font-size: 700;
    padding-top: 5px;
}
.Form-row-inner:first-child{
    margin-right: 16px;
}
.form-section button{
    height: 48px;
    color: white;
    border: none;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 24px;
}
.form-section button:hover{
    color: black;
    border: 1px solid black;
    background-color: white;
}
.form-section .under-form-note{
    font-size: 11px;
    line-height: 17px;
}
.under-form-note a{
    text-decoration: none;
    color: #4435bb;;
}
.Trusted-brands {
    display: none;
}
footer{
    background-color: black;
    color: white;
    padding: 0 0 37px 0;
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
}
.footer-menu{
    display: inline-block;
    width: 100%;
    margin-bottom: 64px;
}
.footer-column{
    width: 30.6%;
    float: left;
    padding-top: 64px;
    display: inline-block;
    vertical-align: top;
}
.footer-column:not(:last-child){
    margin-right: 4%;
}
.footer-menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.footer-column ul li{
    margin-bottom: 15px;
}
.footer-column a{
    color: white;
    text-decoration: none;
    line-height: 24px; 
}
.footer-column a:hover {
    color: #a435f0;
}
.footer-column .social-pages-list{
    display: flex;
    flex-direction: row;
}
.footer-column p{
    margin-bottom: 16px
}
.social-pages-list li {
    margin-right: 20px;
}
.social-pages-list li svg{
    width: 1.4em;
    height: 1.4em;
}
.footer-column .footer-badge{
    display: flex;
    align-items: center;
}
.footer-badge .footer-badge-inner-1{
    width: 90px;
    height: 102px;
    margin-right: 10px;
}
.footer-badge .footer-badge-inner-2{
    width: 85px;
    height: 110px;
}
.footer-column div .current-language{
    position: relative;
    margin-top: 30px;
    background-color: #fff;
    color: #000000;
    width: 60%;
    padding: 10px;
}
.current-language::after{
    position: absolute;
    content: "";
    border: .35em solid transparent;
    border-top: .5em solid;
    right: 10px;
    top: calc(50% - .175em);
}
footer .footer-buttom{
    display: flex;
    justify-content: space-between;
}
.udemy-connect-inner{
    width: 332px;
    position: fixed;
    bottom: 90px;
    right: 20px;
}
.udemy-connect-inner #close-button{
    display: none;
}
.udemy-connect-inner #close-button:checked ~ .close-button{
    display: none;
}
.udemy-connect #close-button:checked ~ label{
    display: none;
}
.udemy-connect #close-button:checked ~ .udemy-connect-body{
    display: none;
}
.udemy-connect label svg{
    background-color: white;
    border-radius:50%; 
    margin-bottom:5px;
    z-index: 200;
    filter: drop-shadow(0 2px 5px rgba(0,0,0,.3));
} 
.udemy-connect-inner .close-button{
    display: flex;
    justify-content: end;
} 
.udemy-connect-inner .udemy-connect-body{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 20px 0px;
}
.udemy-connect-body .udemy-connect-body-inner1{
    background-color: #5022c3;
    padding: 24px;
    border-radius: 7px 7px 0 0;
}
.udemy-connect-body .udemy-connect-body-inner1 div{
    display: flex;
    align-items: end;
    margin-bottom: 7px;
}
.udemy-connect-body .udemy-connect-body-inner1 div svg{
    margin-left: -9px;
}
.udemy-connect-body .udemy-connect-body-inner1 h4{
    margin-bottom: 15px;
    font-size: 24px;
    color: white;
}
.udemy-connect-body .udemy-connect-body-inner1 p{
    color: white;
    font-size: 14px;
}
.udemy-connect-inner .udemy-connect-body img{
    width: 43px;
    height: 43px;
    border-radius: 20px;
}
.udemy-connect-inner .udemy-connect-body img ~ img{
    border: 3px solid #5022c3;
    margin-left: -12px;
}
.udemy-connect-inner .udemy-connect-body-inner2{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 24px;
    border-radius: 0 0 8px 8px;
}
.udemy-connect-body-inner2 div{
    background-color: #5022c3;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
}
.udemy-connect-body-inner2 a{
    font-size: 13px;
    color: #000;
    text-decoration: none;
}
.udemy-connect-body-inner2 a:hover{
    text-decoration: underline;
}
.bot{
    position: fixed;
    bottom: 16px;
    right: 18px;
}
.bot div{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 4px;
    background-color: #5022c3;
    background-size: cover;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 20px 0px;
    background-image: url("https://qualified-production.s3.us-east-1.amazonaws.com/uploads/5a031b299c57d76828c984fd0ef8a8348964eec445c5db542edc272db1a7350b.png");
}
.bot-dropup{
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 15px;
    z-index: 10000;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 20px 0px;
}
#insurance{
    display: none;
}
#insurance:checked ~ .bot-dropup{
    display: block;
}
.Bot-header{
    display: flex;
    align-items: center;
    background-color: #5022c3;
    color: #fff;
    justify-content: space-between;
    max-width: 350px;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
}
.Bot-header .bot-header{
    display: flex;
    align-items: center;
}
.bot-header img{
    height: 25px;
    width: 25px;
    margin-right: 7px;
    border-radius: 15px;
}
.bot-body{
    background-color: #fff;
    padding: 15px 20px 240px 20px;
    max-width: 350px;
}
.bot-body > p:first-child{
    text-align: center;
    font-size: 14px;
    color: #888888;
    padding-bottom: 15px;
}
.LET-US{
    position: relative;
    background-color: #f1f4f7;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    cursor: context-menu;
}
.bot-body .LET-US div{
    position: absolute;
    top: -5px;
    left: -3px;
}
.bot-body .LET-US div img{
    height: 15px;
    width: 15px;
    border-radius: 10px;
}
.LET-US .p{
    margin-bottom: 20px;
}
.bot-body .my-reply{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 7px;
    cursor: pointer;
}
.bot-body .my-reply p{
    display: inline-flex;
    padding: 8px;
    background-color: #5022c3;
    color: #fff;
}
.bot-footer{
    max-width: 350px;
    padding: 10px 25px 10px 10px;
    font-size: 13px;
    background-color: #f1f4f7;
    border-radius: 0px 0px 5px 5px;
}
.bot-footer a{
    color: #888888;
    text-decoration: none;
}
.bot-footer a:hover{
    text-decoration: underline;
}
@media (min-width:300px) and (max-width:800px) {
    header{
        display: none;
    }
    .wrapper{
        padding: 0px 32px;
        flex-direction: column;
    }
    .about-udemy-section{
        margin: 0;
    }
    .about-udemy-section-inner{
        padding: 0;
    }
    .One{
        display: none;
    }
    .form-row-mobile{
        flex-direction: column;
    }
    .form-row-mobile .form-row-mobile-inner{
        margin: 0;
    }
    .select{
        margin-bottom: 16px;
    }
    .Form-row .Form-row-inner{
        padding-bottom: 10px;
    }
    .Form-row-inner:first-child{
        margin-right: 0px;
        margin-bottom: 16px;
    }
    .job-title{
        min-width: 100%;
    }
    .last-form-row{
        margin-top: 15px;
    }
    footer{
        padding: 0px 32px;
    }
    .footer-menu{
        display: flex;
        flex-direction: column;
    }
    .footer-column{
        width: 100%;
        margin-right: 0;
    }
    .footer-menu:first-child{
        padding-top: 32px;
    }
    .footer-menu ul{
        width: max-content;
    }
    .footer-column{
        padding-top: 0;
    }
    .footer-buttom{
        flex-direction: column;
    }
    .Two{
        display: flex;
        flex-direction: column;
        padding: 0px 32px;
    }
    .Two h2{
        text-align: center;
    }
    .two ul{
        flex-wrap: nowrap;
    }
    .two ul li img{
        flex-wrap: nowrap;
        width: 41.5px;
        height: 19.6px;
    }
}