body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}
header{
    display: none;
}
header{
    display: none;
    overflow-x: hidden;
    justify-content: space-between;
    width: 100%;
    padding: 4px;
    align-items: center;
}
.menu, .shopping_cart{
    display: flex;
    align-items: center;
    height: 48px;
}
.navudemy{
    margin-left: 40px;
}
.menu{
    padding: 0 12px;
}
.shopping_cart{
    display: flex;
}
.shopping_cart span{
    padding: 0px 12px;
}
nav{
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0 24px;
    height: 72px;
}
nav img{
    padding-right: .8rem;
}
.header-navigations{
    position: relative;
}
.header-navigations a{
    display: flex;
    align-items: center;
    padding: 0 12px;
    margin: 12px 0;
    color: #2d2f31;
    text-decoration: none;
}
.header-navigations a:hover{
    color: #5624d0;
}
nav .searchbar{
    display: flex;
    flex-grow: 1;
    align-items: center;
    height: 2.8rem;
    margin: 0 12px;
    border: 1px solid #2d2f31;
    border-radius: 9999px;
    max-width: none;
    padding: 0px 24px 0px 0px;
}
.searchbar span{
    display: flex;
    justify-content: center;
    width: 48px;
}
.searchbar input{
    flex: 1;
    border: none;
    outline: none;
    
}
.header-btn{
    margin-left: .5rem;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid black;
}
.signin-btn{
    margin-right: .5rem;
    background-color: #2d2f31;
}
.header-btn a{
    display: inline-flex;
    padding: 0 12px;
    justify-content: center;
    min-width: 56px;
    font-weight: 700;
    color: #2d2f31;
    text-decoration: none;
}
.login-btn:hover{
    background-color: #efefef;
}
.btn:hover{
    background-color: #efefef;
}
.signin-btn a{
    color: #ffffff;
}
nav .nav-dropdown{
    padding: 0px 15px;
    pointer-events: none;
    font-weight: bold;
    color: black;
    position: absolute;
    background-color: #fff;
    text-align: center;
    top: 60px;
    right: -5px;
    z-index: 10;
    width: 260px;
    display: none;
}
.nav-dropdown p{
    font-size: 20px;
}
.nav-dropdown .learnmore{
    color: white;
    background-color: #1c1d1f;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-navigations:hover .nav-dropdown{
    display: flex;
    flex-direction: column;
}
nav .shop{
    position: relative;
}
nav .cart{
    position: absolute;
    text-align: center;
    top: 53px;
    right: -5px;
    width: 280px;
    background-color: #fff;
    z-index: 10;
    color: #aaaaaa;
    pointer-events: none;
    display: none;
}
.cart .keepshopping{
    font-weight: 700;
    color: #5624d0;
}
nav .shop:hover .cart{
    display: flex;
    flex-direction: column;
}
.btn button{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid #2d2f31;
    min-height: 40px;
}
.carousel-container{
    background: url("http://digital.bnint.com/filelib/s9/photos/white_wood_4500x3000_lo_res.jpg");
}
.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}
.udemy-partners-container{
    background-color: #f7f9fa;
    padding: 0px 24px;
}
.udemy-partners{
    padding: 48px 24px;
    margin-top: 45px;
}
.udemy-partners h2{
    text-align: center;
    color: #6a6f73;
    font-weight: 400;
    margin:0px 0px 24px;
}
.udemy-partners ul{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    flex-basis: 256px;
    justify-content: space-between;
}
.udemy-partners ul li{
    display: flex;
    list-style: none;
}
.skill-acquisation-section .skill-acquisation{
    max-width: 134rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
}
.skill-acquisation-section .skill-acquisation-header{
    margin: 0px 0px 16px;
    color: #2d2f31;
}
.skill-hub-header{
    display: flex;
    gap: 16px;
}
.skill-hub-header button{
    padding: 8px 4px;
    height: 48px;
    background-color: transparent;
    border: none;
}
.skill-hub-header .first-child{
    color: #2d2f31;
    font-size: 16px;
    font-weight: 700;
}
.skill-hub-header button span{
    color: #6a6f73;
    font-size: 16px;
    font-weight: 700;
}
.skill-hub-header button span:hover{
    color: #2d2f31;
}
.courses-options-container{
    padding: 32px;
    border: 1px solid #d1d7dc;
}
.courses-options{
    margin: 0px 0px 32px;
}
.courses-options h2{
    margin: 0px 0px 8px;
    color: #2d2f31;
    line-height: 1.2;
    max-width: 80rem;
}
.courses-options-container p{
    font-size: 16px;
    color: #2d2f31;
    margin: 0px 0px 16px;
}
.courses-options-container a{
    display: inline-flex;
    align-items: center;
    height: 40px;
    border: 1px solid #2d2f31;
    color: #2d2f31;
    text-decoration: none;
    padding: 0 12px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}
.courses-options-container a:hover{
    background-color: #efefef;
}
.course-unit-grid{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    overflow-x: auto;
}
.course-rating {
    color: orange;
}
.course-price{
    font-weight: 700;
}
.third,.fourth{
    display: none;
}
.discorvery-unit{
    background-color: #f7f9fa;
    color: #2d2f31;
    padding: 64px 24px;
    margin-top: 64px;
}
.testimonial-container{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1.6rem;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always; 
}
.testimonial-card{
    border: 1px solid #d1d7dc;
    padding: 24px;
    display: flex;
    margin-right: 16px;
    flex-direction: column;
    font-size: 16px;
    color: #2d2f31;
    line-height: 1.4;
    font-weight: 400;
    width: 389px;
}
.testimonial-card img{
    margin-bottom: 16px;
}
.testimonial-card p{
    margin-top: 0px;
    margin-bottom: 16px;
}
.discorvery-unit .testimonial-profile-user{
    display: flex;
    align-items: center;
    margin-top: auto;
}
.testimonial-profile-user .profile-picture{
    background-color: #2d2f31;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    text-align: center;
}
.video-link > span{
    font-size: 16px;
    font-weight: 700;
    color: #5624d0;
}
.video-link div span{
    color: #5624d0;
}
.discorvery-unit .video-link{
    display: flex;
    align-items: center;
    border-top: 1px solid #d1d7dc;
    margin: 24px 0 0;
    padding: 24px 0 0;
}
.section5{
    margin: 0 0 96px;
}
.component-margin{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 134rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
}
.component-margin .desktop-top-categories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.component-margin div img{
    width: 100%;
    height: 100%;
}
.component-margin h2{
    margin: 0 0 24px;
}
.component-margin ul {
    display: none;
}
.component-margin div a{
    margin: 0 16px 16px 0;
    text-decoration: none;
}
.component-margin div a span{
    padding: 8px 0 16px;
    color: #2d2f31;
    text-wrap: nowrap;
    font-weight: 700;
}
.trending-topics-section{
    background-color: #f7f9fa;
    padding: 32px 24px;
}
.trending-topics-section h2{
    font-size: 24px;
    margin: 0 0 12px 0;
}
.trending-topics-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.trending-topics-category{
    margin: 0 8px 0 0;
    padding: 0 0 24px;
    width: calc(100% / 4 - 1.6rem);
}
.trending-topics-category h3{
    font-size: 16px;
    margin: 0 0 16px 0;
}
.trending-topics-category a{
    color: #5624d0;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}
.trending-topics-category .learner-numbers{
    margin: 8px 0 0;
    color: #2d2f31;
    font-size: 12px;
}
.trending-topics-category .trending-topics{
    margin: 16px 0 0;
}
.Explore-more-btn{
    display: inline-flex;
    text-align: center;
    cursor: pointer;
    padding: 0 1.2rem;
    color: #2d2f31;
    text-decoration: none;
    font-weight: 700;
    height: 30px;
    font-size: 14px;
    border: 1px solid #2d2f31;
}
.Explore-more-btn span{
    display: flex;
    align-items: center;
}
.Other-courses{
    display: flex;
    justify-content: center;
    color: #2d2f31;
    margin-bottom: 96px;
    padding: 24px;
    margin-top: 24px;
}
.Other-courses-inner{
    display: flex;
    flex-direction: column;
    margin: 0px 9.6rem 0 0px;
    justify-content: center;
    max-width: 400px;
}
.Other-courses-inner div{
    margin-bottom: 16px;
}
.Other-courses-inner .udemy-logo{
    display: flex;
    justify-content: left;
    margin-bottom: 0;
    margin-top: 12px;
}
.Other-courses-inner img{
    margin: 0 0 8px;
    display: flex;
    justify-content: center;
    height: 32px;
    width: 192px;
}
.Other-courses h3{
    font-size: 24px;
    text-align: left;
    margin: 0px;
    margin-bottom: 8px;
    line-height: 1.25;
}
.Other-courses div ul{
    font-size: 19px;
    padding: 0 0 0 20px;
    margin: 0;
}
.Other-courses div li{
    padding: 4px 0px;
    line-height: 1.4;
}
.Other-courses-inner .ud-btn{
    text-align: center;
    heigt: 48px;
    paddin: 10px 12px;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
    display: flex;
}
.ud-btn>*:not(:last-child){
    text-align: center;
    background-color: #2d2f31;
    color: #fff;
    padding: 15px 12px;
    margin-bottom: 5px;
    cursor: pointer;
    flex: 1;
    margin-right: 8px;
}
.ud-btn>*:last-child{
    text-align: center;
    border: 1px solid #2d2f31;
    padding: 15px 12px;
    cursor: pointer;
    margin-bottom: 5px;
    flex: 1;
}
.mobile-img{
    display: none;
}
.desktop-img{
    display: flex;
}
.desktop-img img{
    width: 400px;
    height: 400px;
}
.udemy-review-container{
    padding: 48px 24px;
    background-color: #f7f9fa;
    margin-bottom: 64px;
}
.udemy-review{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
    background-color: #ffffff;
    display: flex;
    border:1px solid #d1d7dc;
    max-width: 887px;
    margin-left: auto;
    margin-right: auto;
}
.udemy-review-container .viewmore{
    text-align: center;
}
.udemy-review p{
    line-height: 22px;
    width: 80%;
}
.udemy-review .continue-reading{
    margin-top: 24px;
    text-decoration: underline;
    color: #5624d0;
    font-weight: 700;
}
.udemy-review .continue-reading-1{
    display: none;
}
.principal-info{
    display: flex;
    flex-direction: column;
    padding-right: 120px;
}
.principal-info img{
    border-radius: 50%;
    width: 132px;
    height: 132px;
    margin: 0 0 32px;
}
.principal-info .principal-info-inner{
    margin: 0 0 0 8px;
    font-size: 12px
}
.udemy-review .principal-info h3{
    font-size: 19px;
    margin: 0;
    text-wrap: nowrap;
    tet-align: center;
}
.udemy-review .principal-info p{
    margin:0 0 8px 0;
    text-wrap: nowrap;
    text-alin: center;
    color: #6a6f73;
}
.principal-info .principal-name{
    text-wrap: nowrap;
}
.principal-name,.principal-info-inner p{
    font-size: 16px;
}
.udemy-review-container .viewmore{
    color: #5624d0;
    tex-align: center;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 15px;
    line-height: 19px;
}
.continue-reading-2{
    display: none;
}
 .udemy-review .continue-reading-1{
    display: flex;
}
.instructor-guide-container{
    display: flex;
    justify-content: center;
    margin-bottom: 96px;
}
.instructor-guide-container img{
    width: 400px;
    height: 400px;
    margin: 0;
    margin: 0 96px 0 0;
}
.instructor-guide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
}
.instructor-guide h3{
    margin: 0px 0px 16px;
    font-size: 32px;
}
.instructur-guide p{
    font-size: 19px;
    margin-bottom: 14px;
    margin-top: 0;
    line-height: 1.4;
}
.instructor-guide div{
    justify-content: left;
    display: flex;
}
.instructor-guide a{
    position: relative;
    align-items: center;
    border: none;
    cursor: pointer;
    display: inline-flex;
    min-width: 8rem;
    padding: 0 1.2rem;
    height: 48px;
    vertical-align: bottom;
    white-space: nowrap;
    background-color: #2d2f31;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
}
footer{
    background-color: #1c1d1f;
    padding: 24px 48px 0px;
}
footer .links-and-language-selector{
    display: flex;
}
.links-and-language-selector .link-column{
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-right: 16px;
    flex-basis: 256px;
}
.links-and-language-selector div a{
    font-size: 14px;
    padding: 4px 0px;
    color: #fff;
    text-decoration: none;
}
.links-and-language-selector div a:hover{
    text-decoration: underline;
}
footer .lat{
    color: #ffffff;
    display: none;
    align-items: center;
    justify-content: start;
    color: #ffffff;
    height: 40px;
    border: 1px solid white;
    padding: 0 16px;
    max-width: 100px;
    margin: 0px 0 24px;
}
.links-and-language-selector .language-selector-container{
    display: flex;
    align-items: center;
    justify-content: start;
    color: #ffffff;
    height: 40px;
    border: 1px solid white;
    padding: 0 16px;
    min-width: 100px;
    margin-left: auto;
}
.language-selector-container>*:not(:last-child){
    margin-right: 4px;
}
.logo-and-copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 0 32px;
    color: #fff;
}
@media (min-width:300px) and (max-width:800px){
    header{
        display: flex;
    }
    nav{
        display: none;
    }
    .udemy-partners h2{
        font-size: 16px;
    }
    .udemy-partners ul{
        margin: 0px;
        padding: 0px;
        grid-auto-flow: initial;
        grid-gap: 16px;
        grid-template-columns: repeat(4,4fr);
    }
    .udemy-partners li{
        justify-content: center;
    }
    .udemy-partners img{
        width: 48px;
        height: 48px;
    }
    .skill-acquisation-section .skill-acquisation{
        margin: 48px 0 0;
        padding-right: 24px;
        padding-left: 24px;
    }
    .skill-acquisation h2{
        font-size: 24px;
        margin: 0;
    }
    .skill-acquisation-header p{
        margin: 16px 0px 0px;
        font-size: 19px;
    }
    .skill-acquisation .skill-hub-unit{
        display: none;
    }
    .skill-acquisation .fourth div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #d1d7dc;
    }
    .skill-acquisation-section .fourth .Drawing{
        border-bottom: 1px solid #d1d7dc;
    }
    .fourth div h3{
        margin: 0;
        padding: 16px 0;
        font-size: 19px;
    }
    .fourth div span{
        font-sie: 12px;
    }
    .discorvery-unit .testimonial-container{
        overflow-x: scroll;
    }
    .section4 .testimonial-card{
        min-width: 270px;
        background-color: #ffffff;
    }
    .component-margin{
        display: none;
    }
    .trending-topics-category{
        width: 47%;
    }
    .trending-topics-section .Explore-more-btn{
        max-width: 100%;
        justify-content: center;
    }
    .Other-courses{
        margin-bottom: 64px;
    }
    .Other-courses-inner{
        margin: 0;
    }
    .udbusiness .udemy-logo{
        display: flex;
        justify-content: center;
    }
    .ud-btn{
        flex-direction: column;
    }
    .ud-btn>*:not(:last-child){
        margin-right: 0;
    }
    .Other-courses h3{
        text-align: start;
    }
    .mobile-img{
        width: 100%;
    }
    .desktop-img{
        display: none;
    }
    .udemy-review{
        flex-direction: column;
    }
    .udemy-review .principal-info{
        flex-direction: row;
        padding: 0;
        align-items: center;
    }
    .principal-info img{
        width: 48px;
        height: 48px;
        margin: 0;
    }
    .udemy-review .continue-reading-1{
        display: none;
    }
    .continue-reading-2{
        display: flex;
    }
    .instructor-guide-container{
        flex-direction: column;
        margin-bottom: 64px;
        padding: 0 2.4rem;
    }
    .instructur-guide a{
        width: 100%;
        justify-content: center;
    }
    .instructor-guide-container img{
        max-width: 100%;
        height: auto;
        margin: 0 0 24px 0;
    }
    .instructor-guide h3{
        margin-left: 3px;
        font-size: 24px;
    }
    footer{
        padding: 16px 24px 0 24px;

    }
    .links-and-language-selector{
        display: flex;
        flex-direction: column;
        flex-basis: 0;
    }
    .links-and-language-selector .language-selector-container {
        display: none;
    } 
    .links-and-language-selector .link-column{
        flex-basis: 0;
    }
    .logo-and-copyright{
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    .logo-and-copyright{
        color: white;
        font-size: 12px;
        display: flex;
        padding: 16px 0;
        font-size: 12px;
        line-height: 14px;
    }
    footer .lat{
        display: flex;
    }
    .logo-and-copyright .One{
        padding: 16px 0;
    }
    .logo-and-copyright .copyright{
        padding: 0 0 16px;
    }
}